{% extends "ru/skeleton.html" %}

{% block title %}Лекции для студентов{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/courses.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/ru/education">Лекции для студентов</a>
<a class="link" href="/ru/education/phd">Аспирантура</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Лекции для студентов:</h1>
  <div class="tab clearfix">
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Семестр</th>
          <th>Год</th>
          <th>Лектор</th>
          <th>Место</th>
        </tr>
      </thead>
      <tbody>
        {% for course in course_list  %}
        <tr>
          <td><a href="{{course.url}}">{{course.title}}</a></td>
          <td>{{course.semester}}</td> 
          <td>{{course.date|date:'Y'}}</td>
          <td>{{course.lecturer|linebreaks}}</td>
          <td>{{course.place}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}