{% extends "ru/skeleton.html" %}

{% block title %}Исследования{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/detail.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/ru/research/{{person.nick}}">О направлении</a>
<a class="link" href="/ru/research/{{person.nick}}/people">Коллектив</a>
<a class="link" href="/ru/research/{{person.nick}}/profile">Руководитель</a>
<a class="link" href="/ru/research/{{person.nick}}/publications">Публикации группы</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">О направлении</h1>
  <div class="description clearfix">
  {{person.research.text|safe}}
  </div>
</div>
{% endblock %}
