{% extends "ru/skeleton.html" %}

{% block title %}Школа Фазли{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/fazly.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/center">Миссия центра</a>
<a class="link" href="/ru/center/history">История центра</a>
<a class="link" href="/ru/center/contacts">Контакты</a>
<a class="link" href="/ru/center/maindocs">Основные документы</a>
<a class="link" href="/ru/center/reports">Планы и отчеты НИР</a>
<a class="link" href="/ru/center/attestation">Аттестация сотрудников</a>
<a class="activelink" href="https://fazly.ru/ru/">Школа Фазли</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Школа Фазли</h1>
  <div class="description clearfix">
  {{fazly.text|safe}}
  </div>
</div>
{% endblock %}
