{% extends "ru/skeleton.html" %}

{% block title %}История центра{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/history.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/center">Миссия центра</a>
<a class="activelink" href="/ru/center/history">История центра</a>
<a class="link" href="/ru/center/contacts">Контакты</a>
<a class="link" href="/ru/center/maindocs">Основные документы</a>
<a class="link" href="/ru/center/reports">Планы и отчеты НИР</a>
<a class="link" href="/ru/center/attestation">Аттестация сотрудников</a>
<a class="link" href="/ru/center/fazly">Школа Фазли</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">История центра</h1>
  <div class="description clearfix">
  {{history.text|safe}}
  </div>
</div>
{% endblock %}