{% extends "ru/skeleton.html" %}

{% block title %}Лаборатории{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/laboratories.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/ru/structure">Лаборатории</a>
<a class="link" href="/ru/structure/staff">Администрация</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Лаборатории:</h1>
  {% for l in lab %}
  <div class="group clearfix">
    <img class="image" src="{{ l.photo.url }}" alt="photo">
    <div class="description clearfix">
      #<h2 class="pi">{{l.name}}</h2>
      #<p class="text"><b>{{l.prInvestigator}}</b></p>
      #<a class="link" href="mailto:{{l.email}}">{{l.email}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
