{% extends "ru/skmain.html" %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skmain.css" %}">
<link rel="stylesheet" href="{% static "ru/css/main.css" %}">
{% endblock %}
</head>

{% block site %}
<div class="site clearfix">

  <div class="top clearfix">
    <div class="slides clearfix">
    {% for image in image_list %}
      <div class="slide fade">
        <img class="picture" src="{{ image.image.url }}" alt="image">
        <p class="caption">{{ image.caption }}</p>
        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
        <a class="next" onclick="plusSlides(1)">&#10095;</a>
      </div>
    {% endfor %}
    </div>
    <div class="mission clearfix">
      <h1 class="title">Миссия центра</h1>
      <p class="text">{{mission.text|striptags|truncatewords:32}}</p>
      <p class="more"><a href="/ru/center">Подробнее »</a></p>
    </div>
  </div>

  <div class="bottom clearfix">
    <div class="left clearfix">
    <div class="news clearfix">
      <h1 class="title">Новости</h1>
      {% if latest_news_list %}
      {% for event in latest_news_list %}
      <div class="event">
        <h3 class="date">{{event.date}}</h3>
        <h2 class="name">{{event.title}}</h2>
        <p class="text">{{event.text|safe|truncatewords:30}} <a href="/ru/newspage=1/#n{{ forloop.counter }}">Подробнее »</a></p>
      </div>
      {% endfor %}
      {% else %}
      <div class="event clearfix">
        <h2 class="name">Нет новостей</h2>
      </div>
      {% endif %}
      <p class="more"><a href="/ru/newspage=1">Подробнее »</a></p>
    </div>
    </div>

    <div class="right clearfix">
    <div class="education clearfix">
      <h1 class="title">Исследования</h1>
      {% if res_list %}
      <div class="links clearfix">
      {% for res in res_list %}
        <p class="edulink"><a href="/ru/research/{{res.prinvestigator.nick}}">{{res.title}}</a></p>
      {% endfor %}
      </div>
      {% else %}
      <div class="area clearfix">
        <h2 class="title">Нет областей исследования</h2>
      </div>
      {% endif %}
    </div>

    <div class="education clearfix">
        <h1 class="title">Образование</h1>
        <div class="links clearfix">
          <p class="edulink"><a href="/ru/education">Лекции для студентов</a></p>
          <p class="edulink"><a href="/ru/education/phd">Аспирантура</a></p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
