{% extends "ru/skeleton.html" %}

{% block title %}Основные документы{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/maindocs.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/center">Миссия центра</a>
<a class="link" href="/ru/center/history">История центра</a>
<a class="link" href="/ru/center/contacts">Контакты</a>
<a class="activelink" href="/ru/center/maindocs">Основные документы</a>
<a class="link" href="/ru/center/reports">Планы и отчеты НИР</a>
<a class="link" href="/ru/center/attestation">Аттестация сотрудников</a>
<a class="link" href="https://fazly.ru/ru/">Школа Фазли</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Основные документы:</h1>
  <div class="tab clearfix">
    <table>
      <thead>
        <tr>
          <th>Название</th>
          <th>Дата</th>
        </tr>
      </thead>
      <tbody>
        {% for report in r_list  %}
        <tr>
          <td><a href="{{report.document.url}}">{{report.title}} ({{report.document.size|filesizeformat}})</a></td>
          <td width="100px">{{report.date|date:"d.m.Y"}}</td> 
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
