{% extends "ru/skeleton.html" %}

{% block title %}Коллектив лаборатории{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/members.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/research/{{person.nick}}">О направлении</a>
<a class="activelink" href="/ru/research/{{person.nick}}/people">Коллектив</a>
<a class="link" href="/ru/research/{{person.nick}}/profile">Руководитель</a>
<a class="link" href="/ru/research/{{person.nick}}/publications">Публикации группы</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="group">Коллектив группы</h1>
  <div class="description clearfix">
    <div class="figure clearfix">
      {% if person.labPhoto %}
      <img class="image" src="{{ person.labPhoto.url }}" alt="photo">
      {% endif %}
    </div>
    <h2 class="title">Коллектив:</h2>
    <table>
			<thead>
			  <tr>
				<th>Имя</th>
				<th>Должность</th>
				<th class="rig">Email</th>
			  </tr>
			</thead>
			<tbody>
        <tr>
          <td width=40%>{{person.lastname}}, {{person.firstname}}</td>
          <td width=20%>Руководитель</td> 
          <td class="rig" width=40%>{{person.email}}</td>
        </tr>
			  {% for scientist in person.scientist_set.all  %}
			  <tr>
			    <td width=40%>{{scientist.lastname}}, {{scientist.firstname}}</td>
			    <td width=20%>{{scientist.position}}</td> 
				<td class="rig" width=40%>{{scientist.email}}</td>
			  </tr>
			  {% endfor %}
			</tbody>
  	</table>
  </div>
</div>
{% endblock %}
