{% extends "ru/skeleton.html" %}

{% block title %}Новости и события{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/news.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/ru/newspage=1">Новости и события</a>
<a class="link" href="/ru/news/positions">Вакансии</a>
{% endblock %}

{% block site %}
<div class="news clearfix">
  <h1 class="title title-1">Новости и события:</h1>
  {% if news_list %}
  {% for event in news_list %}
  <div id="n{{event.rid}}" class="event clearfix">
    <h3 class="date">{{event.date}}</h3>
    <h2 class="title">{{event.title}}</h2>
    {% if event.photo %}
    <p class="text"><img class="image" src="{{ event.photo.url }}" alt="photo">{{event.text|safe}}</p>
    {% else %}
    <p class="text">{{event.text|safe}}</p>
    {% endif %}
  </div>
  {% endfor %}
  <div class="numbers clearfix">
    <div class="box clearfix">
        <p>{% for ii in page_list %}
          {% if ii == page_num %}
            <span class="digitactive">{{ii|safe}}</span>
          {% else %}
            {% if ii == '&#171;' %}
              <a href="/ru/newspage=1" class="digit">{{ii|safe}}</a>
            {% elif ii == '&#187;' %}
              <a href="/ru/newspage={{page_max}}" class="digit">{{ii|safe}}</a>
            {% else %}
              <a href="/ru/newspage={{ii}}" class="digit">{{ii|safe}}</a>
            {% endif %}
          {% endif %}
      {% endfor %}</p>
    </div>
  </div>
  {% else %}
  <div class="event clearfix">
    <h2 class="title">Нет новостей</h2>
  </div>
  {% endif %}
</div>
{% endblock %}