{% extends "ru/skeleton.html" %}

{% block title %}{{page.pagename}}{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/pages.css" %}">
{% endblock %}

{% block links %}
{% if p.pagename == "ЦКП" %}
<a class="link" href="/ru/structure">Лаборатории</a>
<a class="link" href="/ru/structure/staff">Администрация</a>
<a class="activelink" href="/ru/pages/ЦКП">ЦКП</a>
{% if p.pagename == "Результаты проектов" %}
<a class="link" href="/ru/research">Научные направления</a>
<a class="activelink" href="/ru/pages/Результаты проектов">Результаты проектов</a>
<a class="link" href="/ru/research/etics">НЭК</a>
<a class="link" href="/ru/research/senate">Ученый совет</a>
<a class="link" href="/ru/research/publications">Публикации</a>
{% else %}
<a class="activelink" href="/ru/pages/{{p.pagename}}">{{p.pagename}}</a>
{% endif %}
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">{{page.pagename}}</h1>
  <div class="description clearfix">
  {{page.pagetext|safe}}
  </div>
</div>
{% endblock %}
