{% extends "ru/skeleton.html" %}

{% block title %}Лаборатории{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/pi-index.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/ru/structure">Лаборатории</a>
<a class="link" href="/ru/structure/staff">Администрация</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Лаборатории</h1>
  <div class="description clearfix">
  {{lab.text|safe}}
  </div>
</div>
{% endblock %}