{% extends "ru/skeleton.html" %}

{% block title %}Публикации лаботратории{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/pipub.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/research/{{person.nick}}">Исследования</a>
<a class="link" href="/ru/research/{{person.nick}}/people">Коллектив</a>
<a class="link" href="/ru/research/{{person.nick}}/profile">Руководитель</a>
<a class="activelink" href="/ru/research/{{person.nick}}/publications">Публикации лаборатории</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Публикации лаборатории:</h1>
  <div class="tab clearfix">
    {% for y in years %}
    <h3 class="year">{{y|date:'Y'}}</h3>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for publication in p_list  %}
        {% if publication.date|date:"Y" == y|date:'Y' %}
        <tr>
          <td>{{publication.authors}} <b>{{publication.title}}</b> <i>{{publication.journal}}</i> {{publication.date|date:"Y"}}; {{publication.volume}}: {{publication.pages}}. {% if publication.pubmed != "" %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed}}">Pubmed</a>{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock %}
