{% extends "ru/skeleton.html" %}

{% block title %}Вакансии{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/positions.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/news_page=1">Новости и события</a>
<a class="activelink" href="/ru/news/positions">Вакансии</a>
{% endblock %}

{% block site %}
<div class="news clearfix">
  <h1 class="title title-1">Вакансии:</h1>
  {% if position_list %}
  {% for event in position_list %}
  <div class="event clearfix">
    <h3 class="date">{{event.date}}</h3>
    <h2 class="title">{{event.title}}</h2>
    <p class="text">{{event.text|safe}}</p>
  </div>
  {% endfor %}
  {% else %}
  <div class="event clearfix">
    <h2 class="title">Вакансий нет</h2>
  </div>
  {% endif %}
</div>
{% endblock %}
