{% extends "ru/skeleton.html" %}

{% block title %}Публикации{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/publications.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/research">Научные направления</a>
<a class="link" href="/ru/research/etics">НЭК</a>
<a class="link" href="/ru/research/senate">Ученый совет</a>
<a class="activelink" href="/ru/research/publications">Публикации</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Публикации:</h1>
  <div class="navtable clearfix">
    <table style="width:100%">
      {% for x in y_c %}
      <tr>
        {% for y in x %}
        <td><a href="/ru/research/publications_year={{y}}">{{y}}</a></td>
        {% endfor %}
      </tr>
      {% endfor %}
    </table>
  </div>

  <div class="tab clearfix">
    <h3 class="year">{{myear}}</h3>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for publication in fp_list  %}
        <tr>
          <td>{{publication.authors}} <b>{{publication.title}}</b> <i>{{publication.journal}}</i> {{publication.date|date:"Y"}}; {{publication.volume}}: {{publication.pages}}. {% if publication.pubmed != "" %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed}}">Pubmed</a>{% endif %}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
