{% extends "ru/skeleton.html" %}

{% block title %}Летняя школа {{school.date|date:'Y'}}{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "ru/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "ru/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "ru/css/school.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/ru/education">Курсы</a>
{% for s in school_list %}
{% if s.date == school.date %}
<a class="activelink" href="/ru/education/school/{{s.date|date:'Y'}}">Летняя школа {{s.date|date:'Y'}}</a>
{% else %}
<a class="link" href="/ru/education/school/{{s.date|date:'Y'}}">Летняя школа {{s.date|date:'Y'}}</a>
{% endif %}
{% endfor %}
<a class="link" href="/ru/education/phd">Аспирантура</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Летняя школа {{school.date|date:'Y'}}</h1>
  <div class="description clearfix">
  {{school.about|safe}}
  </div>
</div>
{% endblock %}