{% extends "en/skeleton.html" %}

{% block title %}History{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "en/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "en/css/history.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/en/center">Mission</a>
<a class="activelink" href="/en/center/history">History</a>
<a class="link" href="/en/center/contacts">Contacts</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">History</h1>
  <div class="description clearfix">
  {{history.text|safe}}
  </div>
</div>
{% endblock %}