{% extends "en/skeleton.html" %}

{% block title %}Laboratories{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "en/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "en/css/pi-index.css" %}">
{% endblock %}

{% block links %}
<a class="activelink" href="/en/structure/principal_investigators">Laboratories</a>
<a class="link" href="/en/structure/staff">Staff</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Laboratories:</h1>
  {% for person in pi_list %}
  <div class="group clearfix">
    <img class="image" src="{{ person.photo.url }}" alt="photo">
    <div class="description clearfix">
      <h2 class="pi">{{person.position}} {{person.firstname}} {{person.lastname}}</h2>
      <a class="link" href="/en/research/{{person.nick}}">Research</a>
      <a class="link" href="/en/research/{{person.nick}}/people">Group Members</a>
      <a class="link" href="/en/research/{{person.nick}}/profile">Profile</a>
      <a class="link" href="/en/research/{{person.nick}}/publications">Publications</a>
      {% if person.labpage != "" %}
      <a class="link" href="{{person.labpage}}">Lab page</a>
      {% endif %}
      <a class="link" href="mailto:{{person.email}}">Email: {{person.email}}</a>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}