{% extends "en/skeleton.html" %}

{% block title %}Publications{% endblock %}

{% block loads %}
{% load static %}
<link rel="stylesheet" href="{% static "en/css/standardize.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton-grid.css" %}">
<link rel="stylesheet" href="{% static "en/css/skeleton.css" %}">
<link rel="stylesheet" href="{% static "en/css/publications.css" %}">
{% endblock %}

{% block links %}
<a class="link" href="/en/research">Research Areas</a>
<a class="activelink" href="/en/research/publications">Publications</a>
{% endblock %}

{% block site %}
<div class="overview clearfix">
  <h1 class="title">Publications</h1>
  <div class="tab clearfix">
    {% for y in years %}
    <h3 class="year">{{y|date:'Y'}}</h3>
    <table>
      <thead>
        <tr>
          <th></th>
        </tr>
      </thead>
      <tbody>
        {% for publication in p_list  %}
        {% if publication.date|date:"Y" == y|date:'Y' %}
        <tr>
          <td><b>{{publication.title}}</b> {{publication.authors}} <i>{{publication.journal}}</i> {{publication.date|date:"Y"}}; {{publication.volume}}: {{publication.pages}}. {% if publication.pubmed != "" %}<a href="https://www.ncbi.nlm.nih.gov/pubmed/{{publication.pubmed}}">Pubmed</a>{% endif %}</td>
        </tr>
        {% endif %}
        {% endfor %}
      </tbody>
    </table>
    {% endfor %}
  </div>
</div>
{% endblock %}
